<section class="form-box">
  
  <div class="container">

    <div class="row">
      <div class="col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-3 col-lg-6 col-lg-offset-3">

        <div class="form-wizard form-header-classic form-body-stylist">
          <div class="logo_section">
            <img src="assets/images/subk.png">
            <!-- <p>Fill all form field to go next step</p> -->
          </div>
          <div class="languageSelectDiv">
            <span>Select Language</span>
            <select (click)="selectLang($event.target.value)" class="languageSelect">
              <option *ngFor="let item of supportLanguages">{{item}}</option>
            </select>
          </div>
          <form [formGroup]="form" (ngSubmit)="form.valid">

            <div class="form-wizard-steps form-wizard-tolal-steps-4">
              
              <div class="form-wizard-progress">
                <div class="form-wizard-progress-line" data-now-value="12.25" data-number-of-steps="4"
                  style="width: 12.25%;"></div>
              </div>
              <div class="form-wizard-step active">
                <div class="form-wizard-step-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
                <p>{{'home.basic_details' | translate}}</p>
              </div>


              <div class="form-wizard-step">
                <div class="form-wizard-step-icon"><i class="fas fa-tags"></i></div>
                <p>{{'home.product_pitch' | translate}}</p>
              </div>

              <div class="form-wizard-step">
                <div class="form-wizard-step-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"
                    aria-hidden="true"></i></div>
                <p>{{'home.eligibility_check' | translate}}</p>
              </div>

              <div class="form-wizard-step">
                <div class="form-wizard-step-icon"><img class="credit_score" src="assets/images/credit.ico"></div>
                <p>{{'credit.credit_bureau_check' | translate}}</p>
              </div>


            </div>

            <fieldset formGroupName="form1">
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                </div>
              </div>
              <!-- Progress Bar -->
              <h4>{{'home.basic_details' | translate}}: <span>{{'home.step' | translate}} 1 - 4</span></h4>
              <!-- <div class="form-group">
                <label>First Name: <span>*</span></label>
                <input type="text" id="firstName" class="form-control firstname required"
                  onkeypress="return /[a-z]/i.test(event.key)" autocomplete="off">
                <p id="firstnameError"></p>
              </div> -->
              <div class="form-group">
                <label for="firstName">{{'home.First_Name' | translate}}: <span>*</span></label>
                <input type="text" id="firstName" class="form-control firstname required" maxlength="30" formControlName="firstName"
                  [ngClass]="{'is-invalid':form.get('form1').get('firstName').touched && form.get('form1').get('firstName').invalid}"
                  onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" autocomplete="off"
                  style="text-transform: uppercase;">
                <div class="invalid-feedback">
                  <div>{{'home.first_name_required' | translate}}</div>;
                </div>
              </div>
              <div class="form-group">
                <label>{{'home.Last_Name' | translate}}: <span>*</span></label>
                <input type="text" id="lastName" class="form-control lastname required" formControlName="lastName"
                maxlength="30"  [ngClass]="{'is-invalid':form.get('form1').get('lastName').touched && form.get('form1').get('lastName').invalid}"
                  onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" autocomplete="off">
                <div class="invalid-feedback">
                  <div>{{'home.last_name_required' | translate}}</div>
                </div>
              </div>
              <div class="form-group">
                <label>{{'credit.pan_no' | translate}}: <span>*</span></label>
                <input type="text" id="pan" formControlName="pan" pattern="^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$" maxlength="10" [(ngModel)]="panNumber" oninput='this.value = this.value.toUpperCase()'
                  [ngClass]="{'is-invalid':form.get('form1').get('pan').touched && form.get('form1').get('pan').invalid}"
                  class="form-control required" >
                <div *ngIf="form.get('form1').get('pan').touched && form.get('form1').get('pan').invalid"
                  class="invalid-feedback">
                  <div *ngIf="form.get('form1').get('pan').errors.required">{{'credit.pan_mandatory' | translate}}</div>
                  <div *ngIf="form.get('form1').get('pan').errors.minlength"> {{'credit.valid_pan' | translate}} </div>
                </div>
              </div>
              <div class="form-group">
                <label>{{'home.mobile_no' | translate}}: <span>*</span></label>
                <input type="text" id="mobileNo" class="form-control mobilenmbr required" value="" required
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')" formControlName="mobileNumber"
                  [ngClass]="{'is-invalid':form.get('form1').get('mobileNumber').touched && form.get('form1').get('mobileNumber').invalid}"
                  maxlength="10" autocomplete="off">
                <div
                  *ngIf="form.get('form1').get('mobileNumber').touched && form.get('form1').get('mobileNumber').invalid"
                  class="invalid-feedback">

                  <div *ngIf="form.get('form1').get('mobileNumber').errors.required">
                    {{'home.mob_no_mandate' | translate}} Here</div>
                  <div *ngIf="form.get('form1').get('mobileNumber').errors.minlength">
                    {{'home.mobile_no_valid' | translate}}
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <label>{{'home.business_name' | translate}}: </label>
                <input type="text" id="businessname" maxlength="40" class="form-control" value="" required autocomplete="off">

              </div> -->
              <div class="form-group">
                <label>{{'home.business_area_pincode' | translate}}: <span>*</span></label>
                <input type="text" id="bussinesspincode" class="form-control pincode required" value="" required
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')" formControlName="pincode"
                  [ngClass]="{'is-invalid':form.get('form1').get('pincode').touched && form.get('form1').get('pincode').invalid}"
                  maxlength="6" autocomplete="off">
                <div *ngIf="form.get('form1').get('pincode').touched && form.get('form1').get('pincode').invalid"
                  class="invalid-feedback">
                  <div *ngIf="form.get('form1').get('pincode').errors.required">
                    {{'home.Pincode_Mandatory_Field' | translate}} Here</div>
                  <div *ngIf="form.get('form1').get('pincode').errors.minlength">
                    {{'home.Valid_Pincode' | translate}}
                  </div>
                </div>
              </div>


              <div class="form-group ">
                <label>{{'home.gender' | translate}}: <span>*</span></label>
                <select class="form-control required" id="gender" formControlName="gender"
                  [ngClass]="{'is-invalid':form.get('form1').get('gender').touched && form.get('form1').get('gender').invalid}">
                  <option [ngValue]="null" disabled>{{'home.select_option' | translate}}</option>
                  <option value="Male">{{'home.male' | translate}}</option>
                  <option value="Female">{{'home.female' | translate}}</option>
                </select>
                <div class="invalid-feedback">
                  {{'home.please_enter_gender' | translate}}.
                </div>
              </div>

              <div class="form-group">
                <label class="radio-inline">
                  <input type="checkbox" id="isCheckBox" formControlName="cibilCheckBox" [ngClass]="{'is-invalid':form.get('form1').get('cibilCheckBox').touched && form.get('form1').get('cibilCheckBox').invalid}"/> 
                  {{'credit.t&C' | translate}} <a (click)="termsAndConditions()" required>T&C.</a>
                  <div class="invalid-feedback">
                    <div>{{'credit.allow_t&C' | translate}} T&C </div>
                  </div>
                </label>


              </div>

              <div class="form-wizard-buttons">

                <button type="submit" class="btn btn-next" (click)="getfunction($event)"
                  [disabled]="!form.get('form1').valid">{{'home.next' | translate}}</button>
              </div>

              <!-- Modal -->

            </fieldset>

            <fieldset formGroupName="form2">
              <!-- Progress Bar -->
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75"
                  aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                </div>
              </div>
              <!-- Progress Bar -->
              <h4>{{'home.product_pitch' | translate}}: <span>{{'home.step' | translate}} 2 - 4</span></h4>

              <div class="form-group">
                <label>{{'productPitch.selectProduct' | translate}}: </label>
                <select class="form-control " id="dropdown" formControlName="product"
                  [ngClass]="{'is-invalid':form.get('form2').get('product').touched && form.get('form2').get('product').invalid}"
                  (change)="getProduct($event)">
                  <option [ngValue]="null" disabled>{{'productPitch.select_product' | translate}}</option>
                  <option id="MSME">MSME</option>

                </select>
                <div class="invalid-feedback">
                  {{'productPitch.product_required' | translate}}.
                </div>
              </div>

              <div class="form-group">
                <table class="table  " id="product">
                  <tr *ngFor="let item of productTypes  let i = index">
                    <td><input type="radio" name="typeOfProduct" value="{{item.name}}" (click)="showselectoptions($event)">{{item.name}}
                      <br>
                    <td>
                      <span class="tap_product_details">Rs.{{item.minloanAmnt}}-Rs.{{item.maxloanAmnt}} </span>
                    </td>

                    <td>
                      <span class="tap_product_detailss"> {{'credit.tap' | translate}} &nbsp;<a href="" id="{{item.id}}"
                          (click)="tapHere($event)" data-toggle="modal"
                          data-target="#myModal">{{'credit.here' | translate}}</a>&nbsp;{{'credit.for_product_details' | translate}}.</span>
                    </td>
                    <br>

                  </tr>
                </table>

              </div>
              <!-- Modal -->
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content" *ngFor="let detail of tapHereDetails">
                    <div class="modal-header">


                      <div class="top_logo">
                        <img src="{{detail.logurl}}" height="50" width="100">
                        <h4 class="modal-title" align="center">{{detail.name}}</h4>
                      </div>

                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <table id="customers">

                        <tr>
                          <td>{{'productPitch.rate_of_interest' | translate}}</td>
                          <td>Male:{{detail.mclr+detail.male}}% | Female:{{detail.mclr+detail.female}}%</td>

                        </tr>
                        <tr>
                          <td>{{'productPitch.tenure' | translate}}</td>
                          <td>
                            <span>Min:{{detail.minloanPeriod}} Months</span>
                            <br>
                            <span>Max:{{detail.maxloanPeriod}} Months</span>
                          </td>

                        </tr>
                        <tr>
                          <td>{{'productPitch.loan_amount' | translate}}</td>
                          <td>
                            <span>
                              Min: Rs.{{detail.minloanAmnt}}
                            </span>
                            <br>
                            <span>
                              Max: Rs.{{detail.maxloanAmnt}}
                            </span>
                          </td>

                        </tr>
                        <tr>
                          <td>{{'productPitch.Loan_Processing_Fee' | translate}}</td>
                          <td>{{detail.processingfee}}</td>

                        </tr>
                        <tr>
                          <td>{{'productPitch.Life_Insurance' | translate}}</td>
                          <td>{{detail.lifeinsurance}}</td>
                        </tr>
                        <tr>
                          <td>{{'productPitch.stock_insurance' | translate}}</td>
                          <td>{{detail.stockinsurance}}</td>

                        </tr>
                        <tr>
                          <td>{{'productPitch.Credit_Guarantee' | translate}}(CGFMU)</td>
                          <td>{{detail.creditguaranteefund}}Year</td>

                        </tr>

                      </table>

                    </div>

                  </div>

                </div>
              </div>
              <div id="submitModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">

                    <div class="modal-body">
                      <div></div>
                      <h4>{{responses}}</h4>
                      <h6>({{'credit.try_again' | translate}})</h6>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-previous" data-dismiss="modal">UpdateForm</button>
                      <button type="button" class="btn btn-primary closed" data-dismiss="modal"
                        onclick="javascript:window.location.reload()">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label><b>EMI {{'productPitch.calculator' | translate}}:</b> </label>
              </div>

              <div>
                <div class="form-group" *ngFor="let detail of productTypes| slice:2; let i = index;">
                  <label>{{'productPitch.rate_of_interest' | translate}}: <span id="RateOfIntrest"
                      value="{{detail.mclr+detail.female}}">{{detail.mclr+detail.female}}%</span></label>
                </div>
                <div >
                  <div class="form-group" (keyup.enter)="calculator($event)" (blur)="calculator($event)">
                    <label>{{'productPitch.loan_amount' | translate}}: <span>*</span></label>
                    <input type="text" id="loanAmount"  class="form-control loanAmount required" [(ngModel)]="loan_amount"
                      onkeyup="this.value=this.value.replace(/[^\d]/,'')" formControlName="loanamount"
                      [ngClass]="{'is-invalid':form.get('form2').get('loanamount').touched && form.get('form2').get('loanamount').invalid}"
                      maxlength="7">

                    <div
                      *ngIf="form.get('form2').get('loanamount').touched && form.get('form2').get('loanamount').invalid"
                      class="invalid-feedback">
                      <div>{{'productPitch.loan_amount_required' | translate}}</div>
                    </div>
                  </div>
                </div>
                <div class="form-group" (change)="calculator($event)">
                  <label>{{'productPitch.no_of_months' | translate}}: <span>*</span></label>
                  <select class="form-control NoOfMonths required" formControlName="tenure" [(ngModel)]="selectedOption"
                    [ngClass]="{'is-invalid':form.get('form2').get('tenure').touched && form.get('form2').get('tenure').invalid}"
                    id="NoOfMonths" >
                    <option [ngValue]="0" selected="true" disabled>{{'productPitch.no_of_months' | translate}}</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="36">36</option>
                    <option value="48" id="demos" class="demos">48</option>
                    <option value="60" id="demos" class="demos">60</option>
                  </select>
                  <div *ngIf="form.get('form2').get('tenure').touched && form.get('form2').get('tenure').invalid" class="invalid-feedback">
                    <div>{{'productPitch.required_no_of_months' | translate}}</div>
                  </div>
                </div>
                <div class="form-group" style="text-align: center;" >
                  <label>{{'productPitch.your_emi' | translate}}:</label>
                  <br>
                  <span id="emiAmt" readonly></span>
                </div>
              </div>

              <div class="form-wizard-button">
                <div class="form--wizard-previous-button">
                  <button type="button" class="btn btn-previous">{{'home.previous' | translate}} </button>
                </div>
                <div class="form-wizard-interested-buttons ">

                  <button type="button" class="btn btn-y" (click)="notinterested($event)" id="interested"
                    value="Interested">{{'productPitch.not_interested' | translate}}</button>
                  <!-- [disabled]="!form.get('form2').valid" -->
                  <button type="button" class="btn btn-x btn-next" [disabled]="!form.get('form2').valid"
                    (click)="getCheckListQuestionProdId($event)">
                    {{'productPitch.interested' | translate}}</button>
                </div>
              </div>
              <br />
            </fieldset>
            <fieldset>
              <!-- Progress Bar -->
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                </div>
              </div>

              <!-- Progress Bar -->
              <div style="position:relative;height:50px;">
                <h4>{{'home.eligibility_check' | translate}}: <span>Step 3 - 4</span></h4>
              </div>
              <div class="chcklist">
                <div *ngFor="let item of checkLists ;let i = index">
                  <div *ngIf="item.filedtype == 'text'" class="form-group textBtn" id="{{item.orderby}}">
                    {{item.orderby}}.<label>{{'eligibilityChecklist.Business_vintage' | translate}} <input type="text" size="2" id="placeHolder1"
                        onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="2">{{'eligibilityChecklist.year_and' | translate}}<input type="text"
                        size="2" id="placeHolder2" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                        maxlength="2">{{'eligibilityChecklist.months' | translate}}.</label>
                  </div>
                  <div *ngIf="item.filedtype == 'Calender'" class="form-group dateBtn" id="{{item.orderby}}">
                    <label>{{item.orderby}}.{{item.question}}</label>

                    <input type="date" id="date" [max]="getToday()">
                  </div>
                  <div *ngIf="item.filedtype == 'Radio'" class="form-group radioBtn" id="{{item.orderby}}">
                    <label>{{item.orderby}}.{{item.question}}</label>
                    <input type="radio" value="Individual" style="margin-left:10%" name="checkValue"
                      checked>{{dropDownValues}}
                    <input type="radio" value="Group" name="checkValue">{{dropDownValuess}}
                  </div>
                  <div *ngIf="item.filedtype == 'toggle button'" class="form-group tooglebtn" id="{{item.orderby}}">
                    <label>{{item.orderby}}.{{item.question}}</label>
                    <label class="switch">
                      <input type="checkbox" id="togBtn">
                      <div class="slider round">
                        <span class="on" id="{{item.orderby}}" (click)="onbtn($event)">Yes</span>
                        <span class="off active" id="{{item.orderby}}" (click)="offbtn($event)">No</span>
                      </div>
                    </label>
                  </div>
                </div>
              </div>

              <div class="form-wizard-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next" (click)="validateCheckList($event)">Proceed</button>
              </div>
            </fieldset>


            <fieldset formGroupName="form3">
              <!-- Progress Bar -->
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
              </div>

              <!-- Progress Bar -->
              <h4>{{'credit.credit_bureau_check' | translate}} <span>{{'credit.step' | translate}} 4 - 4</span></h4>
              <div class="form-group">
                <label>{{'credit.First_Name' | translate}}: <span>*</span></label>
                <input type="text" name="text" class="form-control required" value="{{fstName}}" readonly
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="10" autocomplete="off">
              </div>
              <div class="form-group">
                <label>{{'credit.Last_Name' | translate}}: <span>*</span></label>
                <input type="text" name="text" class="form-control required" value="{{lstName}}" readonly
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="10" autocomplete="off">
              </div>
              <div class="form-group">
                <label>{{'credit.father_husban' | translate}}: <span>*</span></label>
                <input type="text" name="text" class="form-control required" id="fatherHusbandName"
                  onkeypress="return /^[a-zA-Z ]*$/i.test(event.key)" formControlName="father_husband_name"
                  [ngClass]="{'is-invalid':form.get('form3').get('father_husband_name').touched && form.get('form3').get('father_husband_name').invalid}"
                  maxlength="20" autocomplete="off">
                <div class="invalid-feedback">
                  <div>{{'credit.father_husband' | translate}}</div>
                </div>
              </div>
              <div class="form-group ">
                <label>{{'credit.relationship' | translate}}: <span>*</span></label>
                <select class="form-control required" formControlName="relationship"
                  [ngClass]="{'is-invalid':form.get('form3').get('relationship').touched && form.get('form3').get('relationship').invalid}"
                  id="relationship">
                  <option [ngValue]="null" disabled>{{'credit.select_relationship' | translate}}</option>
                  <option value="Husband">{{'credit.husband' | translate}}</option>
                  <option value="Father">{{'credit.father' | translate}}</option>
                </select>
                <div class="invalid-feedback">
                  <div>{{'credit.relationship_required' | translate}}</div>
                </div>
              </div>
              <!-- <div class="form-group">
                <label>{{'credit.mobile_no' | translate}}: <span>*</span></label>
                <input type="text" name="text" class="form-control required" value="{{mobNo}}" readonly
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="10" autocomplete="off">
              </div> -->
              <div class="form-group">
                <label>{{'credit.villageName' | translate}} : <span>*</span></label>
                <select class="form-control required" formControlName="village"
                  [ngClass]="{'is-invalid':form.get('form3').get('village').touched && form.get('form3').get('village').invalid}">
                  <option [ngValue]="null" disabled>{{'credit.select_village' | translate}}</option>
                  <option *ngFor="let x of villageList" id="village" value="{{x.villagecode}}">{{x.villagedesc}}
                  </option>
                </select>
                <div class="invalid-feedback">
                  <div>{{'credit.village_name' | translate}}</div>
                </div>
              </div>

              <!-- <div class="form-group">
                <label>{{'credit.state' | translate}}: <span>*</span></label>
                <input type="text" id="state" class="form-control required" value="{{state}}" readonly
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="15" autocomplete="off">
              </div> -->
              <!-- <div class="form-group">
                <label>{{'credit.district' | translate}}: <span>*</span></label>
                <input type="text" id="district" class="form-control required" value="{{district}}" readonly
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="15" autocomplete="off">
              </div> -->

              <!-- <div class="form-group">
                <label>{{'credit.gender' | translate}}: <span>*</span></label>
                <input type="text" name="text" class="form-control required" value="{{gndr}}" readonly
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="10" autocomplete="off">
              </div> -->
              <div class="form-group">
                <label>{{'credit.business_address' | translate}}: <span>*</span></label>
                <input type="text" id="businessAddress" class="form-control required" value="" required
                  formControlName="businessAddress"
                  [ngClass]="{'is-invalid':form.get('form3').get('businessAddress').touched && form.get('form3').get('businessAddress').invalid}"
                  autocomplete="off">
                <div class="invalid-feedback">
                  <div>{{'credit.business_address_required' | translate}}</div>
                </div>
              </div>
              
              <!-- <div class="form-group">
                <label>{{'credit.dob' | translate}}: <span>*</span></label>
                <input type="text" id="dateOfBirth" class="form-control " value="{{dob}}" readonly
                  onkeyup="this.value=this.value.replace(/[^\d]/,'')" maxlength="10" autocomplete="off">
              </div> -->


              <div class="form-wizard-buttons">
                <button type="button" class="btn btn-previous">{{'home.previous' | translate}}</button>

                <!-- [disabled]="!form.get('form3').valid" -->
                <button type="button" class="btn btn-next" [disabled]="!form.get('form3').valid"
                  (click)="creditBureauCheck($event)">{{'home.proceed' | translate}}</button>
              </div>
            </fieldset>
            <!-- Form Step 1 -->
            <div id="submitModals" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                  <div class="modal-body">
                    <div class="form-group">

                      <label> {{'otp.otp_sent' | translate}} {{mobNo}}: </label>
                      <!-- <input type="number" onkeyup="titleb(this.value)" /> -->
                      <input type="text" [disabled]="buttonDisabledd" id="otp" class="form-control required" value=""
                        required (keyup)="checkIt($event)" maxlength="4" autocomplete="off" >
                      <div *ngIf="otpValidation">
                        {{'otp.wrong_otp' | translate}}
                      </div>
                      <div *ngIf="otpValidations">
                        {{'otp.successfully_Verified' | translate}}
                      </div>
                      <div *ngIf="otpValidationsResent">
                        {{'otp.otp_resent' | translate}}
                      </div>

                    </div>


                    <div class="">
                      {{'otp.otp_time' | translate}} <div class="countdown"></div>.
                      <!-- <button type="button" class="btn btn-primary" [disabled]="buttonDisabledd"
                        (click)="verifyOtp($event)">{{'otp.verify_otp' | translate}}</button> -->
                        &nbsp;  &nbsp;    
                      <button type="button" class="btn btn-primary" [disabled]="buttonDisabledd"
                        (click)="resendOtp($event)" id="demo" disabled>{{'otp.resend_Otp' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="notInterested" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                  <div class="modal-body">
                    <h3><b>{{'credit.confirmation' | translate}}</b></h3>
                    <br>
                  <!-- </div>
                  <div class="modal-body"> -->
                    <p>{{'credit.sorry' | translate}}</p>
                    {{'credit.feedback' | translate}} : <input type="text"  id="feedback" class="form-control required" value=""
                     maxlength="100" autocomplete="off" >
                    {{'credit.remarks' | translate}} <input type="text"  id="remarks" class="form-control required" value=""
                    required  maxlength="100" autocomplete="off" >
                    <!-- <P>{{'credit.serve_u_further' | translate}}</P> -->
                    <br>
                    <button type="button" class="btn btn-primary closed" data-dismiss="modal">{{'credit.ok' | translate}}</button>
                    <button type="button" class="btn btn-primary closed" data-dismiss="modal"
                      (click)="notinteresteds($event)">{{'credit.close' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>

            <div id="submitModalsView" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                  <div class="modal-body">
                    <div class="form-group">
                      <img src="assets/images/happy.jpg">
                      <P>Otp has been Verfied Successfully</P>
                      <h5>Click on Proceed to Continue</h5>
                    </div>
                  </div>
                  <div class="modal-body">
                    <button type="button" class="btn btn-primary closed" data-dismiss="Modal"
                      (click)="creditBureauCheck($event)">Proceed</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="submitModalsViewApproved" class="modal fade" role="dialog" data-backdrop="static"
              data-keyboard="false">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                  <div class="modal-body">
                    <h4><b>{{'credit.confirmation' | translate}}</b></h4>
                    <h3>{{'credit.congrats' | translate}}</h3>
                    <div class="form-group">
                      <img src="assets/images/happy.jpg">
                      <P>{{'credit.thank_u_for' | translate}}</P>
                      <h5>{{'credit.we_will_get' | translate}}</h5>
                    </div>
                  </div>
                  <div class="modal-body">
                    <button type="button" class="btn btn-primary closed" data-dismiss="modal"
                      onclick="javascript:window.location.reload()">{{'credit.close' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="eligibilitychecklist" class="modal fade" role="dialog" data-backdrop="static"
              data-keyboard="false">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                  <div class="modal-body">
                    <h4><b>{{'credit.sorrys' | translate}}</b></h4>
                    <P>{{'credit.u_r_not' | translate}}</P>
                  </div>
                  <div class="modal-body">
                    <button type="button" class="btn btn-primary closed" data-dismiss="modal"
                      onclick="javascript:window.location.reload()">{{'credit.close' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>

            <div id="submitModalsViewRejected" class="modal fade" role="dialog" data-backdrop="static"
              data-keyboard="false">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                  <div class="modal-body">
                    <h3><b>{{'credit.sorrys' | translate}}</b></h3>
                    <div class="form-group">
                      <img src="assets/images/sorry.jpg">
                      <P>{{'credit.u_r_not' | translate}}</P>
                    </div>
                  </div>
                  <div class="modal-body">
                    <button type="button" class="btn btn-primary closed" data-dismiss="modal"
                      onclick="javascript:window.location.reload()">{{'credit.close' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
          <div class="tollFreeNumber">
            <span style="margin-right: 5px;
          font-size: 20px;"><i class="fa fa-phone" aria-hidden="true"></i></span>
            <span>{{'credit.toll_free' | translate}}</span>
          </div>
          <div class="loadWrapper" *ngIf="loading">
            <div class="loader"></div>
          </div>
          
        </div>
        <!-- Form Wizard -->
      </div>
    </div>

  </div>
</section>
<canvas id="my-canvas" *ngIf="congratsCanvas"></canvas>