<table class="table table-bordered">
    <tr>
        <th scope="col">January</th>
        <th scope="col">February</th>
        <th scope="col">March</th>
        <th scope="col">April</th>
        <th scope="col">May</th>
        <th scope="col">June</th>
        <th scope="col">July</th>
        <th scope="col">August</th>
        <th scope="col">September</th>
        <th scope="col">October</th>
        <th scope="col">November</th>
        <th scope="col">December</th>
    </tr>
    <tr>
        <th *ngFor="let item of list">{{item.year }}</th>

    </tr>

    <tr>
        <th *ngFor="let item of list">{{item.data }}</th>
    </tr>
</table>